<p>diretiva-ngclass works!</p>
<h1>
  <!--<i
    class="bi bi-star"
    [class.glyphicon-star-empty]="!meuFavorito"
    [class.glyphicon-star]="meuFavorito"
  >
  </i>-->
  <svg
    (click)="onClick()"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    class="bi"
    [class.bi-star-fill]="!meuFavorito"
    [class.bi-star]="meuFavorito"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  ></svg>

  <svg
    (click)="onClick()"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    [ngClass]="{
      'bi-star-fill': !meuFavorito,
      'bi-star': meuFavorito
    }"
    class="bi"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  ></svg>
</h1>
